body {
	background-color: #200047;
	color: #ffffff;
	word-break: break-word;
	width: 95%;
	max-width: 800px;
	margin: auto;
	font-family: fontText, sans-serif;

}

h1 {
	font-size:3em;
	font-family:fontTitle;
	background-color: #060655;
	border: 1px solid;
	text-align: center;
}

@font-face {
	font-family: fontTitle;
	src: url(fonts/comforter.ttf);
}

@font-face {
	font-family: fontText;
	src: url(fonts/podkova.ttf);
}

a {
	font-family: monospace;
}

a:link {
	color: pink;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: grey;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: cyan;
	background-color: transparent;
	text-decoration: underline;
}

a:active {
	color: orange;
	background-color: transparent;
	text-decoration: underline;
}

table {
	line-height: 0.7;
}

td {
	padding: 5px;
}


footer {
	font-size: 70%;
	text-align: center;
}

.showcase {
	display: table;
	background-color: #060655;
	max-width: 75%;
	text-align: center;
}

.showcase td:hover
{
	background-color: red;
}

.showcase td
{
	border: 1px solid;
}

.showcase img
{
	width: 100%;
	height: 100%;
}

.mugshot {
	float: left;
	padding: 0 10px 0 0;
}

.linkLine a{
	font-family: fontText, monospace;
}
